@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAMBAHKAN INI: Smooth Scroll Global */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* FIX Mobile: Cegah "bounce" scroll di iOS */
body {
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
}
